@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	a {
		@apply cursor-pointer;
	}

	tbody > tr:nth-child(odd) {
		@apply bg-gray-50;
	}
}

@layer components {
	.container {
		@apply flex flex-row
			min-h-full
			px-5
			py-3;
	}
	.sliding-container {
		@apply flex
			px-5
			py-3
			gap-3;
	}
	.sliding-container .sliding-column {
		@apply translate-x-0 transition-transform;
	}
	.panel {
		@apply min-w-single-column
			flex flex-col
			bg-gray-100
			rounded-md
			shadow-sm;
	}
	.panel-header {
		@apply flex flex-row
			items-center
			rounded-t-md
			px-3
			py-2
			gap-1
			bg-secondary-400
			shadow-sm;
	}
	.panel-header > h2,
	th {
		@apply grow
			uppercase
			font-medium
			text-left
			text-sm
			truncate
			tracking-wider
			text-white;
	}

	.button {
		@apply inline-flex
			justify-center
			w-full
			max-w-md
			py-2
			px-4
			text-sm
			font-medium
			rounded-md
			focus:outline-none
			focus:ring-2
			focus:ring-offset-2;
	}
	.button.button-primary {
		@apply border border-transparent
			text-white
			bg-secondary-500
			hover:bg-secondary-600
			focus:ring-secondary-400;
	}
	.button.button-secondary {
		@apply border border-gray-200
			text-primary-700
			bg-white
			hover:bg-gray-100
			focus:ring-secondary-400;
	}

	.icon {
		@apply inline-block w-5 h-5;
	}
	.icon-button {
		@apply flex
			py-2
			px-3
			text-sm;
	}
	.icon-button > .icon {
		@apply mr-2;
	}

	.blocks__assign-event {
		@apply text-primary-900
			cursor-move
			border border-gray-200
			bg-white
			hover:bg-secondary-50
			rounded-md
			pl-2
			pr-3
			py-2
			flex
			items-center
			gap-2;
	}
	.blocks__assign-event-ghost {
		@apply text-opacity-0
			border-2
			border-dashed
			bg-transparent
			border-primary-200
			shadow-none;
	}
}
